
.about-page {
  width: 100%;
  max-width: 1430px;  
  margin-top: 30px;
  margin-bottom: 50px;

  .about-intro {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    .about-headline {
      margin: 10px auto;
      text-align: center;
      font-size: @ml;
      //border: 1px solid red;
      @media @desktop {
        text-align: left;
        font-size: @l;
       
      }
    }
  }

.team {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;

    & * {
      margin: 2.5px 0;
    }

    .flex(@direction:column;@align:center);
    @media @desktop {
      border-top: 1px solid @primaryDark;
    }

    .team-list {
      @media @tablet {
        .flex(@justify:space-between);
        flex-wrap: wrap;
      }

      @media @desktop {
        .flex(@justify:space-evenly;@align:center);
        flex-wrap: wrap;
      }
      .team-member {
        max-width: 450px;
        .flex(@direction:column;@align:center);
        margin: 10px 0;
        padding: 10px 0;
        background: @lightText;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);

        @media @tablet {
          flex: 0 0 48%;
        }

        @media @desktop {
          flex: 0 0 23%;
        }

        .team-member-img-wrapper {
          width: 35%;
          padding: 10px;
          border: 1px solid @darkText;
          border-radius: 50%;
          background: @primaryBgShading;
        }

        .team-member-name {
          font-size: @s;
          font-weight: bold;
        }

        .team-member-role {
          font-size: @xs;
        }

        .team-member-contact {
          max-width: 300px;
          width: 50%;
          .flex(@justify:space-evenly;@align:center);

          a, a:visited {
            color: @primaryDark;
            font-size: @m; 

            @media @desktop {
              font-size: @sm;
            }
          }
        }
      }
    }
  }  
}




